@import '~@jsh/essential/index.scss';

.jsh-section{
    &--space-down-s{
        @extend %down-s-space;
    }
    &--space-down-m{
        @extend %down-m-space;
    }
    &--space-down-l{
        @extend %down-m-space;
    }
    &--liquid{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}